#login_page {
  width: 600px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding: 10px;
  border: 1px solid #76705A;
  background-color: #FFFFFF;
}

#login_form_container {
  width: 200px;
  float: left;
}

#login_form label {
  width: 130px;
  display: block;
}

#register_blurb {
  width: 380px;
  height: 170px;
  float: left;
  padding: 5px;
  border: 1px solid #76705A;
  background-color: #DCA050;
}